@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&display=swap');

body{
    margin: auto;
    width: 960px;
    background-color:#e4d3cf; 
    font-family: 'Kiwi Maru', serif;
    color:#6b011f;
}
.logo {
width: 300px;
}
p{
padding: 20px;    
text-align: left;

}